*{
    margin: 0;
    padding: 9px;
}
body{
background-image: url(https://i.pinimg.com/originals/f2/25/f0/f225f0da5b621b872f6513d59f89a9b6.jpg);
background-size: 100% 100%;
background-attachment: fixed;
display: flex;
flex-direction: column;
justify-content: space-between;
}
}
/*h1{
    font-size: 40px;
font-family:'Lacquer', sans-serif;
color:white;
text-shadow: -2px 2px 8px lightblue;
height: 30px;
}*/
nav{
    display: flex;
    padding: 10px ;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    }
    nav > div{
        display:flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-left: 4px;
        }
    nav div a{
    font-size: 20px;
   text-decoration: black;
        
    }
        nav div a:hover{
            color: red;
            opacity: 1;
            font-size:22px ;
            cursor: pointer   ;
        }
        nav div h1{
            font-size: 40px;
            font-family:'Lacquer', sans-serif;
            color:white;
            text-shadow: -2px 2px 8px rgb(7, 12, 14);
            height: 30px;



        }
        section{
    
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 10px;
                height: 350px;
                }
              